@import "https://fonts.googleapis.com/css?family=Audiowide:400,700";
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: #000000;
}
body a {
  color: #000000;
  text-decoration: none;
}

.card0 {
  position: absolute;
  top: 50%;
  left: 30%;
  height: 400px;
  width: 300px;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.35s;
}

.card1 {
  position: absolute;
  top: 50%;
  left: 70%;
  height: 400px;
  width: 300px;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.35s;
}


.card:hover .card-front0 {
  transform: rotateY(-180deg);
}
.card:hover .card-front1 {
  transform: rotateY(-180deg);
}
.card:hover .card-back {
  transform: rotateY(0deg);
}

.card-front0 {
  height: 100%;
  width: 100%;
  background-image: url(https://cdn.discordapp.com/attachments/1064442030954119219/1070991622780768307/IMG_20230201_225014.png);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9518c7;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: 0.5s;
}

.card-front1 {
  height: 100%;
  width: 100%;
  background-image: url(https://static.wikia.nocookie.net/rain-world-game/images/f/f2/Slugcat.jpg/revision/latest?cb=20170326003937);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9518c7;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: 0.5s;
}

.card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9e0bd8;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: 0.5s;
  color: #000000;
  text-align: center;
}
.card-back h2 {
  margin: 60% auto 35% auto;
  font-size: 26px;
}
.card-back h2 span {
  font-size: 20px;
}
.card-back a {
  height: 20px;
  width: 20px;
  padding: 5px 5px;
  border-radius: 4px;
  line-height: 20px;
}
.card-back a:hover {
  color: #b80969;
  background-color: #000000;
}